<%- contentFor('body') %>

    <!-- breadcrumbs Start -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Our Services</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>Our Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumbs END -->

    <div class="boxed px-2 py-2 px-md-4 py-md-4">
        <div class="container-fluid">
            <div class="boxed-inner">
                <!-- loader Start -->
                <div id="loading">
                    <div class="loader simple-loader">
                        <div class="loader-body"></div>
                    </div>
                </div>
                <!-- loader END -->

                <div class="px-md-4 my-md-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <div class="header-title">
                                        <h4 class="card-title">Blog List</h4>
                                    </div>
                                </div>
                                <div class="card-body px-0">
                                    <div class="table-responsive">
                                        <table id="user-list-table" class="table table-striped" role="grid" data-toggle="data-table">
                                            <thead>
                                                <tr class="ligth">
                                                    <th>No.</th>
                                                    <th>Blog Name</th>
                                                    <th>Status</th>
                                                    <th>Created Date</th>
                                                    <th style="min-width: 100px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                                                                
                                                <% blogs.forEach((value,index)=>{ %>
                                                    <tr>
                                                        <td class="text-center"><%= index+1 %></td>
                                                        <td><a href="/blog/blog-detail/<%= value._id %>" target="_blank" rel="noopener noreferrer"><%= value.title.substring(0, 50)+"..." %></a></td>
                                                        <td><span class="badge <%= value.status?'bg-success':'bg-danger' %>"><%= value.status?'active':'disable' %></span></td>
                                                        <td><%= value.dateCreated.getDate() + '/' + value.dateCreated.getMonth() + '/' + value.dateCreated.getFullYear() %></td>
                                                        <td>
                                                            <div class="flex align-items-center list-user-action">
                                                    
                                                                <a class="btn btn-sm btn-icon btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                                    href="#">
                                                                    <span class="btn-inner">
                                                                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341"
                                                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                                d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z"
                                                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                                stroke-linejoin="round"></path>
                                                                        </svg>
                                                                    </span>
                                                                </a>
                                                                <% if (!value.status) { %>
                                                                    <a class="btn btn-sm btn-icon btn-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                                        href="/admin/reactive-blog/<%= value._id %>">
                                                                        <span class="btn-inner">
                                                                            <svg width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                                    d="M16.3345 2.75024H7.66549C4.64449 2.75024 2.75049 4.88924 2.75049 7.91624V16.0842C2.75049 19.1112 4.63549 21.2502 7.66549 21.2502H16.3335C19.3645 21.2502 21.2505 19.1112 21.2505 16.0842V7.91624C21.2505 4.88924 19.3645 2.75024 16.3345 2.75024Z"
                                                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                <path d="M8.43994 12.0002L10.8139 14.3732L15.5599 9.6272" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                                    stroke-linejoin="round"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                <% } %>
                                                                <a class="btn btn-sm btn-icon btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                                    href="/admin/delete-blog/<%= value._id %>">
                                                                    <span class="btn-inner">
                                                                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                                                            <path
                                                                                d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"
                                                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                                stroke-linejoin="round"></path>
                                                                            <path
                                                                                d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"
                                                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                        </svg>
                                                                    </span>
                                                                </a>
                                                                
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% }) %>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                

<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/libs.min.css">
    <link rel="stylesheet" href="stylesheets/hope-ui.css">

<%- contentFor('customScript') %>
    <script>
        document.querySelector('.scroll-top').setAttribute('href', location.href + '#');
    </script>
    <!-- Backend Bundle JavaScript -->
    <script src="javascripts/libs.min.js"></script>
    
    <!-- widgetchart JavaScript -->
    <script src="javascripts/charts/widgetcharts.js"></script>
    
    <!-- mapchart JavaScript -->
    <script src="javascripts/charts/vectore-chart.js"></script>
    <script src="javascripts/charts/dashboard.js"></script>
    
    <!-- fslightbox JavaScript -->
    <script src="javascripts/fslightbox.js"></script>
    
    <!-- settings JavaScript -->
    <script src="javascripts/setting.js"></script>
    
    <!-- Form Wizard Script -->
    <script src="javascripts/form-wizard.js"></script>
    
    <!-- app JavaScript -->
    <script src="javascripts/app.js"></script>