<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <title>Blink - Startup &amp; SaaS Bootstrap 5 Template.</title>
    <%- include('partials/meta') %>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b26427a686.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> -->
    <link rel="stylesheet" href="stylesheets/animate.css">
    <link rel="stylesheet" href="stylesheets/tiny-slider.css">
    <link rel="stylesheet" href="stylesheets/glightbox.min.css">
    <%- stylesheet %>

</head>


<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <%- include('partials/preloader') %>
    
    
    <%- include('partials/navbar') %>
    


    <%- body %>


    <%- include('partials/footer') %>


    <a href="#" class="scroll-top" style="display: none;">
        <i class="fas fa-chevron-up"></i>
    </a>
    
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/wow.min.js"></script>
    <script src="javascripts/tiny-slider.js"></script>
    <script src="javascripts/glightbox.min.js"></script>
    <script src="javascripts/count-up.min.js"></script>
    <script src="javascripts/main.js"></script>

    <%- customScript %>
    

</body>

</html>