<%- contentFor('body') %>
<div class="preloader" style="opacity: 0; display: none;">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>


<div class="maill-success">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="success-content">
                    <i class="lni lni-thumbs-up"></i>
                    <h1>
                        <%= title %>
                    </h1>
                    <p>
                        <%= message %>
                    </p>
                    <div class="button">
                        <a href=<%=url %> class="btn">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- contentFor('stylesheet') %>
    <link rel="stylesheet" href="stylesheets/main.css">
<%- contentFor('customScript') %>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/tiny-slider.js"></script>
    <script src="javascripts/glightbox.min.js"></script>
    <script src="javascripts/count-up.min.js"></script>